@keyframes rasengan {
    0%, 20% {
        transform: scale(0);
    }

    60% {
        transform: scale(1);
    }

    75% {
        transform: scale(1) translateX(0px);
    }
    
    99% {
        transform: scale(1) translateX(400px);
    }

    100% {
        transform: scale(0) translateX(400px);
    }
}

@keyframes rasenganExplosion {
    0%, 100% {
        transform: translate(0, -50%);
    }
    
    40% {
        transform: translate(0, -51%);
    }

    55% {
        transform: translate(0, -49%);
    }

    70% {
        transform: translate(0, -51%);
    }
    
    85% {
        transform: translate(0, -49%);
    } 
}