/* @keyframes disapear {
    0% {
        transform: translate(0, 0);
        opacity: 0;
        display: block;
    }

    30% {
        transform: translate(-10px, 0);
        opacity: 1;
    }

    100% {
        transform: translate(-10px, 25px);
        opacity: 0; 
        display: none;
    }
}

.fire-extinguisher {
    position: absolute;
    top: 0;
    left: 0;
    background-image: radial-gradient(#eee, #ddd);
    filter: blur();
    box-shadow: 10px 10px 20px 0 #ccc;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    z-index: 10;
    animation: disapear 2s forwards;
} */