.robot {
    width: 300px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 100px;
    z-index: 2;
}

/* ========== Robot Head =========== */

.robot-head {
    border: 2px solid black;
    width: 100px;
    height: 100px;
    margin: 0 auto 5px;
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #bbb;
}

.anthena {
    width: 100px;
    height: 2px;
    background-color: black;
    position: absolute;
    transform-origin: right;
    left: -50%;
    top: 0;
}

.anthena::before {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    position: absolute;
    left: 0;
    top: -6px;
    background-color: var(--mood-color);
    border-radius: 15px;
}

.left-anthena {
    transform: rotateZ(45deg);
}

.right-anthena {
    transform: rotateZ(135deg);
}

.eye-line {
    display: flex;
    justify-content: space-between;
}

.eye {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid black;
    position: relative;
    background-color: #fff;
}

.eyebrows {
    position: absolute;
    top: -6px;
    left:  -2px;
    width: calc(100% + 10px);
    height: 15px;
    background-color: #bbb;
    display: none;
}

.mouth {
    height: 30px;
    border: 2px solid black;
    border-radius: 30px;
    overflow: hidden;
    background-color: #fff;
}

.top-teeth, .bottom-teeth {
    height: 15px;
    display: flex;
}

.top-teeth {
    border-bottom: 2px solid black;
}

.teeth {
    width: calc(100% / 3);
    border-right: 2px solid black;
}

.teeth:last-of-type {
    border-right: none;
}