/* ============= Robot Arm ========== */
.articulation {
    position: absolute;
    width: 100px;
    height: 20px;
    border: 2px solid black;
    left: calc(100% + 5px);
    top: 30px;
    border-radius: 0 4px 4px 0;
    background-color: #bbb;
    z-index: 2;
}

.second-articulation {
    height: 15px;
    z-index: 1;
    top: 32px;
}

.hand {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 12px;
    left: calc(100% + 110px);
}

.hand-part {
    width: 25px;
    height: 10px;
    background-color: #bbb;
    position: absolute;
    top: 50%;
    transform-origin: left;
}

.top-hand-part {
    transform: rotateZ(-45deg);
}

.top-hand-part::after {
    content: '';
    display: block;
    position: absolute;
    width: 25px;
    height: 10px;
    background-color: #bbb;
    left: 19px;
    top: 7px;
    transform: rotateZ(45deg);
}

.bottom-hand-part { 
    transform: rotateZ(45deg);
}

.bottom-hand-part::after {
    content: '';
    display: block;
    position: absolute;
    width: 25px;
    height: 10px;
    background-color: #bbb;
    transform: rotateZ(-45deg);
    left: 19px;
    bottom: 8px;
}