/* .start-animation:hover ~ .robot .wheel-treadmill {
    animation: moveTreadmillForwards 2s ease-in-out forwards;
} */

.robot-wheels {
    position: relative;
}

.wheel-treadmill {
    stroke-dasharray: 15 5;
}

.wheel {
    width: 38px;
    height: 38px;
    border: 4px solid black;
    background-color: #bbb;
    border-radius: 50%;
    position: absolute;
    top: 22px;
}

.wheel::before {
    content: '';
    width: 5px;
    height: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 5px;
}

.left-wheel {
    left: 40px;
}

.right-wheel {
    right: 40px;
}

